:root {
    --main-color: #AABBCC;
    --main-modal-color: rgba(240, 219, 79, .5);
    --second-color: #2B2B2B;
    --second-modal-color: rgba(43, 43, 43, .5);
}

html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--second-color);
    background-color: var(--main-modal-color);
}

body {
    margin: 2rem auto;
    overflow-x: hidden;
    max-width: 800px;
}

a {
    font-weight: bold;
    color: var(--second-color);
    transition: all .3s ease-out;
}

a:hover {
    color: var(--second-modal-color);
}

p {
    padding: 1rem;
    font-size: 1.25rem;
}

.Header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Header h1 {
    word-wrap: break-word;
}

.Header img {
    margin: 0 auto;
    display: block;
    max-width: 150px;
    border-radius: 50%;
}

.Header nav {
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
}